
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesignup.css">
</head>
        <div class="cards"   data-ng-init="init()"  ng-controller="signUpController">
                <h2 > Let's join you in </h2>
                
                <form id='signupForm' >
                    <div>
                        <input type="text" id="name" name=""  required>
                        <label>Name * </label>
                    </div>
                    <div >
                        <input type="text" id="signUpEmail" ng-model="email" ng-keyup="emailCheck()"  required >
                        <label>E-Mail *</label>
                        <div class="mismatch" id="email_mismatch">*enter valid email</div>
                    </div>
                    <div >
                        <input type="text" id="no" ng-model="phone" ng-keyup="checkPhone()"  required>
                        <label>Phone-No *</label>   
                        <div class="mismatch" id="phone_mismatch">*enter valid phone #</div>
                    </div>
 
                    <button class="cta-btn" id='signUp' ng-click="subscriptionRoute()">Sign Up</button>
                    <div class="mismatch" id="phone_present">Phone No is already in use</div>         
                </form> 
                    
            </div>
            