body {
    /* The image used */
    height: 800px;
    background-color: beige;
  }
  .social-login img {
    width: 24px;
  }
  a {
    text-decoration: none;
  }
  .mismatch{
    display: none;
    color: red;
    font-size: 13px;
    text-align: left;
    position: relative;
    top:-8px;
    }
  .card {
    background-color: rgb(77, 45, 45);
    color: black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: max-content;
    padding: 1.8rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 5px 20px rg m, mba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: medium;
  }
  .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0
  }
  .social-login {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .g-btn {
    background: #fff;
   outline: none;
    padding: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    border: none
  }
  
  .or {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgb(245 239 239);
    line-height: 0.1em;
    margin: 25px 0;
  }
  .or span {
    background: #fff;
    padding: 0 10px;
  }
  
  .email-login {
    display: flex;
    flex-direction: column;
  }
  .email-login label {
    color: gray;
  }
  
 #uname
  {
    padding: 12px 12px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1.4px solid rgb(185, 184, 184);
    border-radius: 10px;
    outline: none;
    width: 300px;
   
  }
  #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 32, 32, 0.5);
    z-index: 2;
    cursor: pointer;
    
  }
  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    position: absolute;
    top: 40%;
    left: 40%;
    display:none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .mismatch{
    display: none;
    color: red;
    font-size: 13px;
    text-align: left;
    position: relative;
    top:-8px;
    }
  
  .cta-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    border-radius: 10px;
    border: none;
  }
  
  