body {
    /* The image used */
    height: 800px;
    background-color: beige;
  
  }
  .bg-image{
    background-image: url('background.jpg');
    filter: blur(4px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .social-login img {
    width: 24px;
  }
  a {
    text-decoration: none;
  }
  .card {
    background-color: #ffff;
    color: black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: max-content;
    padding: 1.8rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }

  .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0
  }
  .social-login {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .google-btn {
    background: #fff;
    border: solid 2px rgb(245 239 239);
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    padding: 10px 10px;
    flex: auto;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  .fb-btn {
    background: #fff;
    border: solid 2px rgb(206, 206, 219);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .or {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid rgb(245 239 239);
    line-height: 0.1em;
    margin: 25px 0;
  }
  .or span {
    background: #fff;
    padding: 0 10px;
  }
  
  .email-login {
    display: flex;
    flex-direction: column;
  }
  .email-login label {
    color: gray;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1.4px solid rgb(185, 184, 184);
    border-radius: 8px;
  
  }
  
  .cta-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
  }
  
  